<div class="row">
	<div class="col-md-6 offset-md-3">
		<%= @threads.each do |t| %>
			<div class="thread">
				<h4><%= t.title %></h4>

				<div class="meta">
					23 Febuari 2021 oleh Zhofran Dhiqo
				</div>
				<div class="content">
					ini mah cm test doang jd ngak perlu panjang" tinggal copas" ajh
					ini mah cm test doang jd ngak perlu panjang" tinggal copas" ajh
					ini mah cm test doang jd ngak perlu panjang" tinggal copas" ajh
				</div>
				<div class="count">
					10 obrolan
				</div>
				<div style="clear: both"></div>
			</div>
		<% end %>
	</div>
</div>